<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="QSPSaveEditorSetup" Language="1033" Version="1.0.0.0" Manufacturer="Pararock" UpgradeCode="0c9af240-fb04-44e4-94d6-306d57eb7be5">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="QSPSaveEditorSetup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="QSPSaveEditor" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="ProductComponent">
        <File Source="$(var.QSPSaveEditor.TargetPath)" />
      </Component>
    <Component>
      <File Source="$(var.QSPNETWrapper.TargetPath)" />
    </Component>
        <Component>
      <File Source="$(var.QSPLib.TargetPath)" />
    </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
